<mat-card class="my-card">
    <mat-card-header style="justify-content: center;">
        <mat-card-title>
            Reset Password
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="my-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Password" name="password" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Confirm Password" name="password" required>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions class="btn-center">
        <button mat-raised-button class="mat-btn" (click)="onSubmit(myForm)" color="primary">RESET MY PASSWORD</button>
    </mat-card-actions>
</mat-card>