<!-- <nav>
  <ul>
    <li><a routerLink="/logincomponent" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/registrationcomponent" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav> -->
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a  mat-button  routerLink="/logincomponent">Login</a>
     <a  mat-button  routerLink="/registrationcomponent">Register</a>
  </mat-toolbar-row>
</mat-toolbar> -->
<app-home></app-home>
<router-outlet></router-outlet>

