<mat-card class="my-card">
    <mat-card-header style="justify-content: center;">
        <mat-card-title>
            Reset Password
        </mat-card-title>
    </mat-card-header>
    <form class="my-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <mat-card-content>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix>email</mat-icon>
                    <input (keyup)="emailVerification()" matInput placeholder="Email" formControlName="email"
                        name="email" required>
                    <mat-error class="mb-4 text-end w-100"
                        *ngIf="myForm.controls['email'].touched && myForm.controls['email'].errors?.['required']">
                        Please enter email!
                    </mat-error>
                    <mat-error class="mb-4 text-end w-100"
                        *ngIf="myForm.controls['email'].touched && myForm.controls['email'].errors?.['pattern']">
                        Email address not well formed!
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="full-width">
                    <input matInput placeholder="Enter your email" formControlName="email">
                    <mat-error *ngIf="myForm.controls['email'].invalid">email is required!</mat-error>
                </mat-form-field>
            </p> -->
            <div *ngIf="shouldShow">
                <p>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                            placeholder="Password" name="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error class="mb-4 text-end w-100"
                            *ngIf="myForm.controls['password'].touched && myForm.controls['password'].errors?.['required']">
                            Please enter password!
                        </mat-error>
                        <mat-error class="mb-4 text-end w-100"
                            *ngIf="myForm.controls['password'].touched && myForm.controls['password'].errors?.['pattern']">
                            Password should be..(minimum 8 characters, one upper letter with alphabates, one special
                            character)
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input (change)="confirmPassword()" matInput formControlName="confirmPassword"
                            [type]="hideConfirm ? 'password' : 'text'" placeholder="Cofirm Password"
                            name="confirmPassword" required>
                        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                        <mat-error class="mb-4 text-end w-100"
                            *ngIf="myForm.controls['confirmPassword'].touched && myForm.controls['confirmPassword'].errors?.['required']">
                            Please enter confirm password!
                        </mat-error>
                        <mat-error class="mb-4 text-end w-100"
                            *ngIf="myForm.controls['confirmPassword'].touched && myForm.controls['confirmPassword'].errors?.['pattern']">
                            Password & Confirm Password are not matched!
                        </mat-error>
                    </mat-form-field>
                </p>
            </div>
            <!-- <p>
                <mat-form-field *ngIf="myForm.controls['password'].valid">
                    <input matInput placeholder="Confirm your password" formControlName="confirmPassword">
            <mat-error *ngIf="myForm.controls['confirmPassword'].pristine || myForm.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
                </mat-form-field>
            </p> -->
        </mat-card-content>
        <mat-card-actions class="btn-center">
            <button [disabled]="!isValid" mat-raised-button class="mat-btn" type="submit" color="primary">RESET MY
                PASSWORD</button>
        </mat-card-actions>
    </form>
</mat-card>