.my-form {
    min-width: 100px;
    margin: 20px;
}

.full-width {
    width: 100%;
}

.my-card {
    margin: 30px auto;
    max-width: 400px;
    height: 166px;
}

.btn-center {
    text-align: center;
}

.mat-btn {
    padding: 0px;
    margin-left: 5px;
    width:360px;
}
