.my-form {
    min-width: 100px;
    margin: 20px;
}

.full-width {
    width: 100%;
}

.my-form {
    min-width: 100px;
    margin: 20px;
}

.my-card {
    margin: 25px auto;
    height: 480px;
    max-width: 400px;
}

.mat-btn {
    text-align: center;
}
